body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex:1;
}


.navbar {
  height: 5rem;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}

.sticky-top {
  background-color: white;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  text-align: center;

  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: center;
}
.f-info-brand,
.f-info-links,
.f-info-socials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

/* cards */
.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text{
    font-weight: 400 !important;
    color: #222222;
    /* font-style: ; */
}
.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color:white;
}

/* new Page */
.add-btn{
  background-color: #fe424d !important;
  border: none !important;
}

/* edit Page */
.edit-btn{
   background-color: #b4004e !important;
  border: none !important;
  width: 100px;
}

/* show page */
.show-img{
  height: 30vh !important;
 
}

.btns{
  display: flex;
}
.edit-btn{
  background-color: #b4004e;
}
.show-card{
  padding-left: 0;
  padding-right: 0;
}